<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
>

    <bean id="phone" class="spring06di.Phone"></bean>
    <bean id="psp" class="spring06di.Psp"></bean>

    <bean id="person" class="spring06di.Person">
        <!--<property name="phone" ref="phone"></property>-->
        <!--<property name="psp" ref="psp"></property>-->
        <property name="playGame" ref="phone"></property>
    </bean>

</beans>